# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
lib
.vscode
.idea

# misc
.DS_Store
npm-debug.log*
yarn-error.log
.eslintcache

yarn.lock
package-lock.json

# visual studio code
.history
*.log
functions/*
.temp/**

